<!DOCTYPE html>
<html>
  <body>
    <nav>
      <h1 class="text-center m-2"> Ruby Blog App</h1>
    </nav>

    <main>
      <section class="container my-4">
        <div class="row">
          <div class="col col-3">
            <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
          </div>
          <div class="col col-8 border text-center align-middle m-1">
           <p> Will contain username & number of posts <p>
          </div>
        </div>
      </section>

      <section class="container my-4">
        <div class="row">
          <div class="col col-3">
            <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
          </div>
          <div class="col col-8 border text-center align-middle m-1">
           <p> Will contain username & number of posts <p>
          </div>
        </div>
      </section>

    <section class="container my-4">
        <div class="row">
          <div class="col col-3">
            <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
          </div>
          <div class="col col-8 border text-center align-middle m-1">
           <p> Will contain username & number of posts <p>
          </div>
        </div>
      </section>

      <section class="container my-4">
        <div class="row">
          <div class="col col-3">
            <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
          </div>
          <div class="col col-8 border text-center align-middle m-1">
           <p> Will contain username & number of posts <p>
          </div>
        </div>
      </section>

      <section class="container my-4">
        <div class="row">
          <div class="col col-3">
            <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
          </div>
          <div class="col col-8 border text-center align-middle m-1">
           <p> Will contain username & number of posts <p>
          </div>
        </div>
      </section>

      <section class="container my-4">
        <div class="row">
          <div class="col col-3">
            <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
          </div>
          <div class="col col-8 border text-center align-middle m-1">
           <p> Will contain username & number of posts <p>
          </div>
        </div>
      </section>




    </main>

  </body>
</html> 