<!DOCTYPE html>
<html>
  <body>
    <nav>
      <h1 class="text-center m-2"> Ruby Blog App</h1>
    </nav>

    <main>
      <% if @users.blank? %>
        <p>There are not any posts currently in the system.</p>
      <% else %>
        <% @users.each do |user| %>
          <section class="container my-4">
            <div class="row">
              <div class="col col-3">
                <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
              </div>
              <a href="/users/<%= user.id %>" class="col col-8">
                <div class="username-text-container border text-center align-middle m-1">
                  <p class="user-name-text"> <%= user.Name %> </p>
                  <p class="posts-counter-text"> Number of Posts: <%= user.Posts_Counter %>  </p>
                </div>
              </a>
            </div>
          </section>
        <% end %>
      <% end %>
    </main>

  </body>
</html> 