<body>
  <nav>
    <h1 class="text-center m-2"> Ruby Blog App </h1>
  </nav>

  <main>
    <section class="container my-4">
      <div class="row">
        <div class="col col-3">
          <img src="https://dummyimage.com/250/9f9ede/000000" class="img-fluid" alt="user profile picture">
        </div>
        <div class="col col-9 border">
          <div class="grid-username-container">
            <p class="username-header text-center"> UserName </p>
            <p class="number-of-posts"> Number of Posts: x </p>
          </div>
        </div>
        </div>
    </section>

    <section class="container my-4 px-0">
      <div class="border post-container p-4">
        <p>Post #1 </p>
        <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras interdum consequat pretium. 
        Fusce ultrices in nisi vel luctus. Suspendisse tortor quam, vestibulum at auctor sed, 
        ultrices in lorem. Nullam congue felis id fermentum rutrum. Lorem ipsum dolor sit amet, 
        </p>
        <p class="comment-like-text text-end"> Comments: x, Likes: y </p>
        <div class="border comment-container p-2">
          <p> Username: Comment 1 </p>
          <p> Username: Comment 2 </p>
          <p> Username: Comment 3 </p>
          <p> Username: Comment 4 </p>
          <p> Username: Comment 5 </p>
        </div>
      </div>
    </section>

    <section class="container my-4 px-0">
      <div class="border post-container p-4">
        <p>Post #2  </p>
        <p>
        Morbi ornare consequat leo quis porta. Nam lobortis, elit ut mattis molestie, lectus quam sagittis urna, 
        et aliquet sapien neque eu sem. Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Duis laoreet vestibulum tincidunt. Nullam eu iaculis est. Sed suscipit feugiat nisl, sed iaculis sem elementum non. 
        Integer laoreet massa sit amet nulla varius consequat. Nam sed purus at mauris accumsan consectetur. 
        </p>
        <p class="comment-like-text text-end"> Comments: x, Likes: y </p>
        <div class="border comment-container p-2">
          <p> Username: Comment 1 </p>
          <p> Username: Comment 2 </p>
          <p> Username: Comment 3 </p>
          <p> Username: Comment 4 </p>
          <p> Username: Comment 5 </p>
        </div>
      </div>
    </section>

     <div class="container see-more-post-container my-2">
      <button type="button"  class="see-all-posts-button btn btn-lg"> Pagination </button>
    </div>



  </main>
</body>