.grid-username-container {
  margin: auto;
  height: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.username-header {
  align-self: center;
  font-size: 3rem;
}

.number-of-posts {
  align-self: end;
}

.comment-like-text {
  font-size: 10px;
}

.comment-container {
  display: grid;
}

.see-more-post-container {
  display: grid;
  width: 90%;
}

.see-all-posts-button {
  justify-self: center;
  align-self: center;
  margin-bottom: 20px;
  width: 30%;
  border: 1px black solid;
  border-bottom-width: 4px;
  border-right-width: 4px;
}

.post-comment-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

form {
  display: grid;
  row-gap: 10px;
  margin: 15px;
}

.comment-text {
  display: flex;
  justify-content: space-between;
}

.comment-grid {
  display: grid;
  grid-template-columns: 4fr 2fr;
}
